body.discord-dark-mode {
  background-color: #36393f;
  color: #dcddde;
  font-family: Whitney, Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #484b51;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="color"],
.form textarea {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #484b51;
  border-radius: 5px;
  background-color: #40444b;
  color: #dcddde;
  font-family: Whitney, Arial, sans-serif;
}

.form input[type="text"]:focus,
.form input[type="color"]:focus,
.form textarea:focus {
  outline: none;
  border-color: #7289da;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #7289da;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #677bc4;
}

.preview {
  border: 1px solid #484b51;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #40444b;
}

.preview h2 {
  margin-top: 0;
}

.preview img {
  max-width: 100%;
  height: auto;
}
